In [1]:
### Question 1 ###
n = 0
while n < 5:
    print (n)
    n = n + 1

0
1
2
3
4

In [2]:
### Question 2 ###
n = 0
while n < 5:
    print (n)
    n = n + 1
else:
    print(n, " is not less than 5")

0
1
2
3
4
5  is not less than 5

In [4]:
### Question 3 ###
fruitlist = ["banana", "orange", "apple", "cherry"]
print(fruitlist)

['banana', 'orange', 'apple', 'cherry']

In [6]:
print("I like", fruitlist[0])
print("I like", fruitlist[1])
print(fruitlist[2], "is really a fruit?")

I like banana
I like orange
apple is really a fruit?

In [7]:
### Question 4 ###
n = 30 
sum = 0 
i = 1

while i <= n:
    sum = sum + i 
    i = i+1 

print("the sum is", sum)

the sum is 465

In [8]:
### Question 5 ###
grade = 65

In [9]:
if grade >= 90:
    print('A')
elif grade >= 80:
    print('B')
elif grade >= 70:
    print('C')
elif grade >= 60:
    print('D')
else:
    print('F')

D

In [10]:
### Question 6 ### 
marks={'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

In [13]:
for student in marks:
    print(student, "has a grade of ",marks[student])

Andy has a grade of  88
Amy has a grade of  66
James has a grade of  90
Jules has a grade of  55
Arthur has a grade of  77

In [18]:
grades=list(marks.values())

In [21]:
Mean=sum(grades)/len(grades)
print("The mean is", Mean)
print("The max is", max(grades))
print("The min is", min(grades))

TypeError: 'int' object is not callable

In [22]:
for student in marks:
    if 'J' in student:
        break
    print(student)

Andy
Amy

In [23]:
for student in marks:
    if 'J' in student:
        continue
    print(student)

Andy
Amy
Arthur