In [3]:
###### Question 1 ######
## Q1 ##

student = 'Amy'
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}
for students in marks:
    if student == student_name :
        print(marks[student])
        break
else:
    print('No entry with that name found')

66

In [5]:
## Q2 ##

def average(*args):
    return sum(args) / len(args)

In [6]:
average(88, 66, 90, 55, 77)

75.2

In [15]:
###### Question 2 ######
n = 0 
while n < 8:
    print(n)
    n += 1

0
1
2
3
4
5
6
7

In [16]:
def printout(num):
    n = 0 
    while n < num:
        print(n)
        n += 1 
        
printout(8)

0
1
2
3
4
5
6
7

In [17]:
n = 0
while n < 8:
    n = n**2
    n = n + 1
    print(n)

1
2
5
26

In [10]:
n = 0
while n<= 8:
    print(n)
    n+=1
else:
    print('greater than 8')

0
1
2
3
4
5
6
7
8
greater than 8

In [13]:
def less_greater(num):
    n = 0 
    while n <= num:
        print(n)
        n+=1
    else:
        print("greater than ", num)

less_greater(8)

0
1
2
3
4
5
6
7
8
greater than  8

In [1]:
###### Question 3 ######

n = 1
sum = 0
while n <=28:
    sum = sum +n 
    n = n + 1
print(sum)

406

In [2]:
def sumfunction(num):
    n = 1
    sum = 0
    while n <=num:
        sum = sum + n 
        n = n + 1
    print(sum)
sumfunction(28)

406

In [3]:
###### Question 4 ######

sum = 0

for n in range(29):
    sum = sum + n 
print(sum)

406

In [4]:
def range_sum(num):
    sum = 0 
    for n in range(num):
        sum = sum + n 
    print(sum)
    
range_sum(29)

406

In [1]:
###### Question 5 ###### 
 
v = range(1, 100)
sum(v)

4950

In [3]:
import statistics
v = range(1, 100)
statistics.pstdev(v)

28.577380332470412

In [4]:
import math

In [5]:
math.sqrt(statistics.pvariance(v))

28.577380332470412

In [9]:
v = range(1, 100)
print(v)

range(1, 100)

In [11]:
from statistics import mean

In [12]:
v = range(1, 100)

In [13]:
mean(v)

50

In [14]:
###### Question 6 ######

def minimum(value1, value2, value3, value4):
    """Return the minimum of the four values."""
    min_value = value1
    if value2 < min_value:
        min_value = value2
    if value3 < min_value:
        min_value = value3
    if value4 < min_value:
        min_value = value4
    return min_value

In [15]:
minimum(10, 88, 4, 50)

4

In [16]:
###### Question 7 ######

def concat(list_args):
    res = ""
    for x in list_args:
        res += x
    return res

In [17]:
print(concat(['python ', 'is ', 'fun']))

python is fun